{% include 'partials/_header.twig' %}
<style>
.atb-text-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.atb-text {
    color: #fff;
    padding: 35px 20px 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
}
.atb-text {
    background: rgba(255,255,255,0.7);
}
.atb-text h1 {
    color: #8AA0C0;
}
h1.new-single-title {
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 5px;
    text-align: center;
    margin: 0px auto 0;
    padding-top: 0px;
}
.ppi-author {
    font-family: "Benton Sans";
    font-style: normal;
    font-weight: normal;
}
.ppis {
    color: #5D79A0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}
.buch {
    font-weight: 900;
    font-size: 1.1em;
    margin-top: 0.5em;
}
.box {
    float: left;
    padding: 14px;
    border: 1px solid #ddd1bb;
    width: 100%;
    margin: 7px 14px 14px 0;
}
.st-teaser-box {
    background-color: rgba(255,255,255,0.7);
    margin: 30px 0 0 0;
}
.box p .stichwort {
    font-family: 'CallunaSemibold',Georgia,'Times New Roman',Times,serif;
    color: #9f8766;
}
.box img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 14px;
    vertical-align: middle;
    border: 0;
}
.teaserBlockElementImage img {
    margin-right: 20px;
}
</style>

<main class="container-fluid contentWrap">
  <div class="container">
    <div class="row equalHeight">
      <div style="min-height: 1345px;" class="col-md-8 contentMain equalize" role="main">
        <!--TYPO3SEARCH_begin-->
          <div id="c10885" class="csc-default"><div class="tx-dce-pi1">
	
  

    <div class="teaserBlock teaserBlock1 clearfix">
      <div class="row">
        <div class="col-sm-12" style="margin-top: 28px;">
          <div class="teaserBlockElement">
            
                <div class="teaserBlockElementImage" style="background-image: url('{{paths.theme}}img/bibelverse.jpg');">
                  
                  {% setcontent bbv = 'bibelverse' where { datefield: 'today' } %}
                     
                  <div class="atb-text-wrap">
                    <div class="atb-text">
                        <h1 id="wdd-inner-article-title" class="new-single-title">Bibeltext für Heute</h1>
                        <div class="post-pub-info">
                            <div class="ppi-author">
                                <div class="ppis">   
                                {% for vers in bbv %}
                                    {{ vers.content }}
                                    <p>Text für den {{ vers.datefield | date("d.m.Y") }}</p>   
                                {% endfor %}
                                </div>  
                            </div> 
                        </div>
                    </div>
                </div>
                
                </div>
                
                {% setcontent artikel = 'entries/1' %}
                {% include 'partials/_athomeornot.twig' %}
                
              <div id="c11202" class="csc-default" style="margin-top: 30px;"><div class="csc-header csc-header-n2"><h1>{{ artikel.title }}</h1></div>
              {{ artikel.body }}
              <p style="margin-top: 40px;text-align: center;"><img src="{{paths.theme}}img/teilen.png"></p>
</div>
              
          </div>
        </div>
      </div>

      
 
      <div class="row">
        <div class="col-sm-6">
          <div class="teaserBlockElement">
            
                <div class="teaserBlockElementImage hide"></div>
                <div class="teaserBlockElementText"></div>
              
          </div>
        </div>
        <div class="col-sm-6">
          <div class="teaserBlockElement">
            
                <div class="teaserBlockElementImage hide"></div>
                <div class="teaserBlockElementText"></div>
              
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="teaserBlockElement">
            
                <div class="teaserBlockElementImage hide"></div>
                <div class="teaserBlockElementText"></div>
              
          </div>
        </div>
        <div class="col-sm-6">
          <div class="teaserBlockElement">
            
                <div class="teaserBlockElementImage hide"></div>
                <div class="teaserBlockElementText"></div>
              
          </div>
        </div>
      </div>
    </div>
  

</div></div>

          <div class="row contentTwoColumns">
            
          </div>
        <!--TYPO3SEARCH_end-->
        
      </div>
      {% include 'partials/_aside.twig' %}
    </div><!-- close row -->
  </div>
</main>

{% include 'partials/_advertising.twig' %}
{% include 'partials/_additionals.twig' %}

{% include 'partials/_footer.twig' %}